header
{
	height: 90px;
	width: auto;
	background-color:  rgb(223, 217, 217);
}

.row
{
	max-width: 1200px;
	margin: auto;
}

.logo img
{
	margin: 25px;
	width: 150px;
	height: auto;
	position: absolute;
	left: 10px;
	border: 1px solid black;
}

.main-navigation ul
{
	position: absolute;
	right: 10px;
	margin-top: 30px;
}

.main-navigation ul li
{
	display: inline-block;
}

.main-navigation ul li a
{
	color: black;
	text-decoration: none;
	font-family: "Roboto", Helvetica, Arial;
	padding: 10px;
	margin: 2px;
	font-size: 15px;
	border: 1px solid black;
	
}

.main-navigation ul li a:hover
{	
	background-color: #8c12dd;
	color: white;
	transition: 0.3s ease-in;
}

